:root{
  --primary-color: #008E97;
	--secondary-color: #5ED486;
	--accent1-color: #002623;
	--accent2-color: #A5E887;
	--heading-font: "Bebas Neue", sans-serif;
	--body-font: "Open Sans", sans-serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: var(--body-font);
	color: var(--accent1-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  background-color: #95aab6;
}

.footer-container a {
  color: #f5f6f7;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
  &:hover {
    color: #45405f;
  }
}

.footer-container ul {
  display: flex;
  padding: 0;
  gap: 24px;
  list-style-type: none;
}

.copyright {
  padding: 4px 0;
  text-align: center;
  color: #95AAB6;
  background-color: #f5f6f7;
}
